body {
  background:lightgray;
}

.a, .b, .c {
  background-color: darkgray;
  font-size: 30px;
  
  /* align font to be centered in both vertical and horizontal */
  display: flex;
  /* Vertical */
  align-items: center;
  /* Horizontal */
  justify-content: center;
}

.a {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 25px auto 0;
}
.box1 {
  
  width: 95%;
  margin: 25px auto 0;
}
.b {
  padding: 200px 0 200px;
}
.c {
  margin: 25px 0 0 0;
}

@media (min-width: 600px) {
  .box1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .b{
    width: calc(80% - 25px);
    margin-right: 25px;
  }
  .c {
    width:20%;
    /* Rest height back to zero */
    margin:0;
  }
}